#ms_form {
    .come_back {
        display: inline-block;
        padding: 10px 45px;
        text-align: right;
        width: 100%;

        a {
            color: gray;
        }
        a:hover{
            color: $primary-color-hover;
        }
    }
    h1 {
        text-align: center;
        color: $primary-color;
        margin: 20px;
    }

    .form-group {
        margin: 15px;
        width: 45%;

        .img {
            width: 100%;

            img{
                width: 100%;
                margin: 30px auto;
                border-radius: 10px;

            }
        }
    }
    .form_primary {
        display: flex;
        margin: 0 auto;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }
    button {
        display: block;
        text-transform: uppercase;
        color:  $primary-color;
        border: 1px solid $primary-color;
        margin: 0 auto;
        border-radius: 10px;
        
    }
    button:hover{
        color: white;
        background-color: $primary-color-hover;
    }
    .width_100 {
        width: 100%;
        margin: 5%;

        button {
            i {
                font-size: 40px;
                margin: 10px 30px;
            }
        }
    }

    //MediaQuery
    @media screen and ( max-width: 989px) {
        .form_primary{
            width: 100%;
            
                .form-group {
                    width: 80%;
                }
        }
    }
}