#ms_index {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .box_card {
            width: calc((100% - 80px) / 4);
            margin: 10px;
            padding: 15px;
            border-radius: 10px;
            float: left;
            background-color: white;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
            img {
                width: 80%;
                border-radius: 10px;
            }

            h1 {
                height: 25%;
                font-size: 23px;
                margin: 10px 0;
            }

            p {
                height: 35%;
                font-size: 15px;
                font-weight: 300;
                margin: 5px 0;
            }

            .btn_card {
                display: flex;
                flex-direction: row;
                a {
                    text-transform: uppercase;
                    color:  $primary-color;
                    border: 1px solid $primary-color;
                    
                }
                a:hover{
                    color: white;
                    background-color: $primary-color-hover;
                }
                .btn_delete {
                    color: white;
                    background-color: $primary-color;
                } 

                .btn {
                    margin: 9px;
                }
            }
        }
    }

    //MediaQuery
    @media screen and ( max-width: 995px) and (min-width: 768px){

        .box_card {
            width: calc((100% - 80px) / 3) !important;
        }
        
        h1 {
            font-size: 19px !important;
        }

        p {
            font-size: 12px !important;
        }

        .btn {
            margin: 3px !important;
        }
    }
    @media screen and ( max-width: 767px) {
        .box_card {
            width: 80% !important;
        }
    }
}