#ms_index {
    text-align: center;

    thead {
        font-size: 25px;
        //text-transform: uppercase;
        color: black;
    }
    
    img {
        width: 80%;
        border-radius: 15px;
    }
    td {
        a {
            text-transform: uppercase;
            color:  $primary-color;
            border: 1px solid $primary-color;
            
        }
        a:hover{
            color: white;
            background-color: $primary-color-hover;
        }
        .btn_delete {
            color: white;
            background-color: $primary-color;
        }
    }
}