#ms_popup {

    .popup {
        display: none;
    }

    .PopupPanel {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        z-index: 1000;
        background-color: transparent;

        button {
            display: inline-block;
        }

        .popupcontainer {
            width: 50%;
            padding: 10px;
            border-radius: 10px;
            background-color: #FFFFFF;
            box-shadow: 7px 5px 58px 0px rgb(0, 0, 0, 0.3);
        }
    }

    @media screen and ( min-width: 320px)
    and (max-width: 944px) {
        #button {
            flex-direction: row !important;
        }
    }
}