#ms_payment_checkout {
    .flex-center {
        display: flex;
    }
    button{
        text-transform: uppercase;
        margin-left: 45%;
        border: 1px solid $primary-color;
        color:  $primary-color;
        border-radius: 10px;
        background-color: transparent;
        padding: 10px 40px;
        font-size: 25px;
    }

    button:hover{
        color: white;
        background-color: $primary-color-hover;
    }

    a {
        width: 100%;
        color:  grey;
        padding: 5px 15px;
        
    }
    a:hover{
        color: $primary-color;
    }

    .price {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        
        label {
            font-size: 25px;
            
            span {
                color:  $primary-color;
            }

            .amount-wrapper {
                font-weight: 600;

            }

        }
    }

    .braintree-heading {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .appartament_information {
        width: 35%;
        padding: 25px;
        margin: 45px;
        text-align: center;
        box-shadow: 0 0 5px 5px rgb(253 57 92 / 50%);
        border-radius: 10px;



        img {
            width: 60%;
            margin: 15px auto;;
        }

        h4,
        h3 {
            color:  $primary-color;

            span {
                color: black;
            }
        }
    }

    .content {
        width: 45%;
    }

    .box_payment {
        justify-content: center;
        align-items: center;
    }

}