//Footer
footer{
    background-color: #FFFFFF;
    border-top: 1px solid rgb(255, 255, 255);

}
.ms-footer{
    color: white;
}
.ms-list-group{
    list-style: none;
    font-size: 11px;
    color: #4A4B4B;
    a{
       text-decoration: none; 
       color: #4A4B4B;
       transition: all 0.2s;
       &:hover{
           color: $primary-color;
           text-decoration:underline;
       }
       i:hover {
           color: $primary-color;
        }
    }
}
.ms-social {
    display: none;
}
.fab{
   color: #4A4B4B; 
}

//MediaQuery
@media screen and (min-width: 576px){
    .ms-social {
        display: block;
    }
    .ms-list-group {
        font-size: 16px;
    }
}